
* {
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-secao {
    font-size: 24px;
    background-color: rgb(220, 220, 250);
}

#texto-copyright {
    font-size: 14px;
    color: gray;
    text-align: center;
}

.formacao > p {
    text-transform: uppercase;
}

.experiencias-profissionais > p.descricao-cargo {
    color: darkslategray;
}

.contato a {
    text-decoration: none;
}
